

.error-container {
    background-image: url('./../../assets/error404.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .error-title {
    font-size: 6rem;
    color: white;
    text-shadow: 2px 2px black;
  }
  
  .error-message {
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px black;
  }
  